java/traffic-service-cf-boot/src/main/resources/wsdl/TrafficServiceData.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://si.feri.soa/trafficservice/data/1.0"
    targetNamespace="http://si.feri.soa/trafficservice/data/1.0"
    elementFormDefault="qualified">

    <xs:element name="TrafficSensorActivationRequest" type="TrafficSensorActivationRequestType"/>
    <xs:element name="TrafficSensorActivationResponse" type="TrafficSensorActivationResponseType"/>

    <xs:element name="TrafficFlowRequest" type="TrafficFlowRequestType"/>
    <xs:element name="TrafficFlowResponse" type="TrafficFlowResponseType"/>

    <xs:complexType name="TrafficSensorActivationRequestType">
      <xs:sequence>
        <xs:element name="SensorName" type="xs:string"/>
        <xs:element name="SensorType" type="xs:string"/>
        <xs:element name="Latitude" type="xs:double"/>
        <xs:element name="Longitude" type="xs:double"/>
      </xs:sequence>
    </xs:complexType>

     <xs:complexType name="TrafficSensorActivationResponseType">
      <xs:sequence>
        <xs:element name="SensorId" type="xs:string"/>
        <xs:element name="ActivatonStatus" type="xs:string"/>
        <xs:element name="ActivationDate" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TrafficFlowRequestType">
      <xs:sequence>
        <xs:element name="SensorId" type="xs:string"/>
        <xs:element name="DateFrom" type="xs:string"/>
        <xs:element name="DateTo" type="xs:string"/>
        <xs:element name="Flow" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>

     <xs:complexType name="TrafficFlowResponseType">
      <xs:sequence>
        <xs:element name="Response" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

</xs:schema>
